html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #323232;
    font-family: Lato, sans-serif;
}

header {
    width: 100%;
    white-space: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header>a>img {
    max-height: 56px;
    padding: 8px 4px 8px 12px;
}

header>nav {
    user-select: none;
    float: right;
    margin: 10px;
}

header>nav>ul>li {
    display: inline;
    margin: 0 10px;
}

header>nav>ul>li>a[data-active="1"] {
    color: #6eb6b1;
}

a {
    display: inline-block;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #6eb6b1;
}

.slide-menu {
    display: none;
}

#splash {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

#splash figcaption {
    user-select: none;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

#splash figcaption h1 {
    font-weight: 500;
    font-size: 48.0pt;
}

#slash figcaption p {
    font-size: 1rem;
}

#content {
    background-color: white;
    color: #212121;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.6667;
}

#content a {
    color: #475c66;
    text-decoration: underline;
}

#content img {
    width: 41%;
    vertical-align: top;
    margin-top: 4em;
    margin-bottom: 2em;
}

#content section {
    padding: 3%;
}

#content section h3 {
    color: rgba(55, 71, 79, 1);
    font-size: 34pt;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

#content section:nth-child(even) {
    background: #f2f2f2;
}

#content section.card div {
    display: inline-block;
    width: 54%;
    padding: 2%;
}

#home-page #splash {
    background-image: url('../img/splash-home.jpg');
}

#map-page #splash {
    background-image: url('../img/splash-map.jpg');
}

#route-page #splash {
    background-image: url('../img/splash-route.jpg');
}

#lnt-page #splash {
    background-image: url('../img/splash-lnt.jpg');
}

#contact-page #splash {
    background-image: url('../img/splash-contact.jpg');
}

#error-page #splash {
    background-image: url('../img/splash-error.jpg');
}

#disclaimer-page #splash {
    background-image: url('../img/splash-disclaimer.jpg');
}

#kinder-scout-page #splash {
    background-image: url('../img/splash-kinder-3.jpg');
}

#edale-page #splash {
    background-image: url('../img/splash-edale.jpg');
}

#castleton-page #splash {
    background-image: url('../img/splash-castleton.jpg');
}

#chatswroth-page #splash {
    background-image: url('../img/splash-chatswroth.jpg');
}

#dambusters-page #splash {
    background-image: url('../img/splash-dambusters.jpg');
}

#wildlife-page #splash {
    background-image: url('../img/splash-wildlife.jpg');
}

footer {
    padding-left: 3.75%;
    padding-right: 3.75%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 9pt;
}

#dim {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .4;
}

/* extra */

header.dark {
    background-color: #212121;
}

.showmore {
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 32px;
    color: #ffffff70;
    cursor: pointer;
}

.showmore:hover {
    color: #ffffffd7;
    background-color: #212121;
}

.hide {
    display: none;
}

#content pre {
    display: inline-block;
    white-space: pre-wrap;
    margin: 20px;
}

/* main scrollbars */

body {
    scrollbar-color: #323232 #212121;
    scrollbar-width: thin;
}

/* For WebKit browsers */
body::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: #323232;
}

body::-webkit-scrollbar-track {
    background: #212121;
}

/* videos */

.video-media {
    display: flex;
}

.video-media div {
    flex: 1;
    overflow: hidden;
    position: relative;
    padding-bottom: 25%;
    margin: 1em;
}

.video-media div iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* media */

@media only screen and (max-width: 480px) {
    header nav ul {
        display: none;
    }

    header nav {
        font-size: 2em;
        cursor: pointer;
    }

    header nav::after {
        content: '≡'
    }

    header nav:hover {
        color: #6eb6b1;
    }

    .slide-menu {
        display: block;
        background-color: #212121;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .slide-menu ul {
        margin-top: 90px;
        padding: 10px;
        list-style-type: none;
    }

    #splash figcaption h1 {
        font-weight: 500;
        font-size: 33.0pt;
    }

    #content img {
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    #content section.card div {
        width: 90%;
        padding: 2%;
    }

    #content section h3 {
        font-size: 26pt;
        margin: 0.5em 0;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 0.5em;
    }

    .video-media {
        display: flex;
        flex-direction: column;
    }

    .video-media div {
        padding-bottom: 50%;
    }
}